build/
build-*/
out/
dependencies/
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.pdb
*.ilk
*.exp

.vscode/
.vs/
.idea/
*.swp
*.user

CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile
compile_commands.json
_deps/
CMakeUserPresets.json

*.pcap
*.pcapng
*.log
.DS_Store
Thumbs.db
